{% extends 'base.html' %}

{% block header %}
  <h1>{% block command %}Agents{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for agent in agents %}
    <article class="agent">
      <header>
        <div>
          <h3>Agent: {{ agent['agent_uuid'] }}</h3>
        </div>
      </header>
      <p>Last Checkin: {{ agent['last_checkin'] }}</p>
        <a class="action" href="{{ url_for('tasking.create', id=agent['id']) }}">Task Agent</a>
        <a class="action" href="{{ url_for('tasking.tasks_by_agent', id=agent['id']) }}">View Tasks</a>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}