{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Task{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="command_id">Command ID</label>
    <input name="command_id" id="command_id" value="{{ request.form['command_id'] }}" required>
    <label for="command_id">Command params</label>
    <input name="command_params" id="command_params" value="{{ request.form['command_params'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}