{% extends 'base.html' %}

{% block header %}
  <h1>{% block command %}{{ agent['agent_uuid'] }} Tasks{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for task in tasks %}
    <article class="task">
      <header>
        <div>
          <h1>Task: {{ task['task_uuid'] }}</h1>
          <p>Command: {{ task['command_id'] }} Params: {{ task['command_params'] }}</p>
          <p></p> 

        </div>
      </header>
      <p class="created">Created: {{ task['created'] }}</p>
      <p class="issued">Issued: {{ task['issued']}}</p>
      <p class="completed">Completed: {{ task['completed'] }}</p>
      <p class="results">Results: {{ task['results'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}